@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  background-color: #f5f5f5;
}

.shadow-down {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Animations */
.boxes_loader {
  width: 8px;
  height: 22px;
  display: block;
  left: -40px;
  position: relative;
  border-radius: 4px;
  box-sizing: border-box;
  animation: animloader 1s linear infinite alternate;
}

@keyframes animloader {
  0% {
    box-shadow:
      20px 0 rgba(255, 255, 255, 0.25),
      40px 0 white,
      60px 0 white;
  }

  50% {
    box-shadow:
      20px 0 white,
      40px 0 rgba(255, 255, 255, 0.25),
      60px 0 white;
  }

  100% {
    box-shadow:
      20px 0 white,
      40px 0 white,
      60px 0 rgba(255, 255, 255, 0.25);
  }
}

/*Fade In*/
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 1.4s;
}

.fade-in.delayed {
  animation-delay: 1.4s;
}

.fade-in-out-infinite {
  opacity: 0;
  animation: fade-in-out ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* Swiper */

.swiper {
  width: 100% !important;
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 40% !important;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  cursor: pointer;
}

/* Pagination */
.pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: space-between;
}

.pagination li {
  padding: 0.5rem 0.9rem;
  border-radius: 4px;
}

.pagination .previous,
.pagination .next {
  background-color: white;
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),
    0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.pagination .active {
  background-color: #f39c12;
}

.transfull {
  animation: transfull ease-in-out 30s infinite;
}

@keyframes transfull {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.n_preview {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  max-width: 100%;
  max-height: 50rem;
  overflow-y: auto;
}

.n_content h1 {
  font-size: 1.3rem;
}

.n_content h2 {
  font-size: 1.2rem;
}

.n_content h3 {
  font-size: 1rem;
}

.n_content p {
  font-size: 0.75rem;
}

/* Media Queries */
@media (min-width: 1250px) {
  .pad_layout {
    grid-template-columns: 1fr 1fr 1fr 1fr !important;
  }
}

@media ((max-width: 989px) and (min-width:500px)) {
  .pad_layout {
    grid-template-columns: 1fr 1fr !important;
  }
}

@media (max-width: 1173px) {
  .league_list {
    grid-template-columns: 1fr 1fr !important;
  }
}

@media (max-width: 849px) {
  .league_list {
    grid-template-columns: 1fr !important;
  }

  .league_card {
    width: 100% !important;
  }

  .league-slate {
    height: 8rem;
  }

  .league-slate h1 {
    font-size: 2rem !important;
  }

  .league-slate p {
    font-size: 1.1rem !important;
  }
}

@media (min-width: 1900px) {
  .league_card {
    width: 21.5vw;
    height: 15vh;
  }
  .league-slate {
    height: 100%;
  }
}

@media (max-width: 319px) {
  .to-col {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    text-align: center;
  }
}

/*Scroll Container*/
.scroll-container {
  overflow-y: auto;
}

.scroll-container::-webkit-scrollbar {
  width: 12px;
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: #625af3;
  border-radius: 6px;
}

.scroll-container::-webkit-scrollbar-track {
  background-color: #cbd5e0;
}

@media (max-width: 390px) {
  .min-390 {
    display: none;
  }

  .modal-wrapper {
    align-items: flex-end !important;
  }
}

.ck .ck-content, .ck-editor__editable {
  max-height: 20rem;
}
